@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:700&display=swap');

body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
}

header, main, footer {
  overflow: hidden;
}

header {
  margin-top:14px;
}

.logo {
  float: left;
  text-align: center;
  width: 100%;
}

.logo img {
  width: 15%;
}

.menu {
  overflow: hidden;
  width: 50%;
  margin: 25px auto;
}

.seccion {
  float: left;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  width: 25%;
}

.seccion a {
  color: black;
  text-decoration: none;
}

.seccion a:hover {
  color: grey;
}

.seccion p {
  margin: 0;
}


.banner {
  width: 100%;
  height: 450px;
  box-sizing: border-box;
  background-image: url("https://dexter.vteximg.com.br/arquivos/ids/485200/1360x570_nike-joyride.jpg?v=637014767154600000");
  background-size: cover;
  background-position: center;
}

.producto {
  float: left;
  width: 21%;
  margin: 2% 2%;
  text-align: center;
  font-weight: 300;
  border: 2px solid black;
  box-sizing: border-box;
}

.producto img {
  width: 80%;
  height: 219px;
}

.producto h2 {
  margin: 0;
}

.producto p {
  margin: 7%;
}

.banners {
  overflow: hidden;
  margin: 50px auto;
}

.banners .banneruno {
  float: left;
  margin: 0 2.5%;
  text-align: center;
  width: 45%;
}

.banners img {
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 2%;
  height: 382px;
}

.banners .bannerdos {
  float: left;
  margin: 0 2.5%;
  text-align: center;
  width: 45%;
}

.banners .boton {
  width: 35%;
  font-size: 20px;
  margin: 10px auto;
  background-color: black;
}

.banners .boton a {
  text-decoration: none;
  color: white;
  padding: 5%;
  display: block;
}

.banners .boton:hover {
  box-shadow: 6px 3px 7px darkgrey;
}

.boton2 {
  width: 100%;
  font-size: 20px;
  margin: auto;
  background-color: black;
}

.boton2 a{
  padding: 2%;
  display: block;
  text-decoration: none;
  color: white;
}

.banners h3 {
font-family: 'Yantramanav', sans-serif;
font-size: 35px;
margin: 2%;
}

footer{
  text-align: center;
  background-color: rgb(228, 228, 228)
}

footer p{
  font-weight: bold;
  margin-top: 40px;
  font-size: 18px;
  margin-bottom: 0px;
}


footer img {
  width: 12%;
}
